@charset "UTF-8";
/* line 9, ../../scss/utility/layout.scss */
.u-ms {
	margin: 8px;
}

/* line 12, ../../scss/utility/layout.scss */
.u-mm {
	margin: 16px;
}

/* line 15, ../../scss/utility/layout.scss */
.u-ml {
	margin: 24px;
}

/* line 18, ../../scss/utility/layout.scss */
.u-mg {
	margin: 32px;
}

/* line 22, ../../scss/utility/layout.scss */
.u-mts {
	margin-top: 8px;
}

/* line 25, ../../scss/utility/layout.scss */
.u-mtm {
	margin-top: 16px;
}

/* line 28, ../../scss/utility/layout.scss */
.u-mtl {
	margin-top: 24px;
}

/* line 31, ../../scss/utility/layout.scss */
.u-mtg {
	margin-top: 32px;
}

/* line 34, ../../scss/utility/layout.scss */
.u-mbs {
	margin-bottom: 8px;
}

/* line 37, ../../scss/utility/layout.scss */
.u-mbm {
	margin-bottom: 16px;
}

/* line 40, ../../scss/utility/layout.scss */
.u-mbl {
	margin-bottom: 24px;
}

/* line 43, ../../scss/utility/layout.scss */
.u-mbg {
	margin-bottom: 32px;
}

/* line 46, ../../scss/utility/layout.scss */
.u-mls {
	margin-left: 8px;
}

/* line 49, ../../scss/utility/layout.scss */
.u-mlm {
	margin-left: 16px;
}

/* line 52, ../../scss/utility/layout.scss */
.u-mll {
	margin-left: 24px;
}

/* line 55, ../../scss/utility/layout.scss */
.u-mlg {
	margin-left: 32px;
}

/* line 58, ../../scss/utility/layout.scss */
.u-mrs {
	margin-right: 8px;
}

/* line 61, ../../scss/utility/layout.scss */
.u-mrm {
	margin-right: 16px;
}

/* line 64, ../../scss/utility/layout.scss */
.u-mrl {
	margin-right: 24px;
}

/* line 67, ../../scss/utility/layout.scss */
.u-mrg {
	margin-right: 32px;
}

/* line 70, ../../scss/utility/layout.scss */
.u-mlrAuto {
	margin-left: auto;
	margin-right: auto;
}

/* line 75, ../../scss/utility/layout.scss */
.u-ps {
	padding: 8px;
}

/* line 78, ../../scss/utility/layout.scss */
.u-pm {
	padding: 16px;
}

/* line 81, ../../scss/utility/layout.scss */
.u-pl {
	padding: 24px;
}

/* line 84, ../../scss/utility/layout.scss */
.u-pg {
	padding: 32px;
}

/* line 88, ../../scss/utility/layout.scss */
.u-pts {
	padding-top: 8px;
}

/* line 91, ../../scss/utility/layout.scss */
.u-ptm {
	padding-top: 16px;
}

/* line 94, ../../scss/utility/layout.scss */
.u-ptl {
	padding-top: 24px;
}

/* line 97, ../../scss/utility/layout.scss */
.u-ptg {
	padding-top: 32px;
}

/* line 100, ../../scss/utility/layout.scss */
.u-pbs {
	padding-bottom: 8px;
}

/* line 103, ../../scss/utility/layout.scss */
.u-pbm {
	padding-bottom: 16px;
}

/* line 106, ../../scss/utility/layout.scss */
.u-pbl {
	padding-bottom: 24px;
}

/* line 109, ../../scss/utility/layout.scss */
.u-pbg {
	padding-bottom: 32px;
}

/* line 112, ../../scss/utility/layout.scss */
.u-pls {
	padding-left: 8px;
}

/* line 115, ../../scss/utility/layout.scss */
.u-plm {
	padding-left: 16px;
}

/* line 118, ../../scss/utility/layout.scss */
.u-pll {
	padding-left: 24px;
}

/* line 121, ../../scss/utility/layout.scss */
.u-plg {
	padding-left: 32px;
}

/* line 124, ../../scss/utility/layout.scss */
.u-prs {
	padding-right: 8px;
}

/* line 127, ../../scss/utility/layout.scss */
.u-prm {
	padding-right: 16px;
}

/* line 130, ../../scss/utility/layout.scss */
.u-prl {
	padding-right: 24px;
}

/* line 133, ../../scss/utility/layout.scss */
.u-prg {
	padding-right: 32px;
}

/* line 137, ../../scss/utility/layout.scss */
.u-list_none {
	list-style-type: none;
}

/* タイプセレクタは使わない */
/* line 6, ../../scss/project/login.scss */
html, body {
	height: 100%;
}

/* line 9, ../../scss/project/login.scss */
body {
	margin: 0px;
	padding: 0px;
	background: #111111;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 12pt;
	font-weight: 200;
	color: #FFF;
}

/*********************************************************************************/
/* login                                                                        */
/*********************************************************************************/
/* line 25, ../../scss/project/login.scss */
.p-login_wrapper {
	position: relative;
	padding: 70px 0px 120px 0px;
	background: #111111 url("../img/header-bg.jpg") no-repeat center;
	background-size: cover;
}

/* line 27, ../../scss/project/login.scss */
.p-login_wrapper .p-container {
	padding-top: 120px;
	text-align: center;
}

/* line 30, ../../scss/project/login.scss */
.p-login_wrapper .p-container .p-title h2 {
	font-size: 4em;
}

/* line 32, ../../scss/project/login.scss */
.p-login_wrapper .p-container .p-title h2 .p-byline {
	font-size: 2em;
}

/* line 37, ../../scss/project/login.scss */
.p-login_wrapper .p-login_container {
	display: block;
	position: relative;
	width: 350px;
	margin: 50px auto;
	padding: 35px 50px;
	background-color: rgba(82, 82, 86, 0.8);
	border-radius: 10px;
}

/* line 46, ../../scss/project/login.scss */
.p-login_wrapper .p-login_container .p-login_form {
	position: relative;
	margin: 0 auto;
}

/* line 49, ../../scss/project/login.scss */
.p-login_wrapper .p-login_container .p-login_form table {
	margin: 0 auto;
}

/* line 51, ../../scss/project/login.scss */
.p-login_wrapper .p-login_container .p-login_form table .p-login_input {
	background-color: #dddddd;
	color: #000033;
	border: none;
	display: block;
	width: 300px;
	padding: 15px;
	border-radius: 10px;
}

/* line 54, ../../scss/project/login.scss */
.p-login_wrapper .p-login_container .p-login_form table p {
	margin-top: 25px;
	font-size: 9pt;
}

/* line 58, ../../scss/project/login.scss */
.p-login_wrapper .p-login_container .p-login_form table .p-login_btn {
	margin: 40px auto 0px;
	border: none;
	display: block;
	padding: 15px 20px;
	font-size: 15px;
	width: 120px;
	font-weight: bold;
	border-radius: 10px;
	color: #FFFFFF;
	background: #0099FF;
	box-shadow: 0px 3px 0px #0066CC;
}