/* line 2, ../../scss/utility/font.scss */
.c-alert_f11 {
	font-size: 18px;
	color: #FF0000;
}

/* line 7, ../../scss/utility/font.scss */
.u-fsmini {
	font-size: 10px;
}

/* line 11, ../../scss/utility/font.scss */
.u-fss {
	font-size: 12px;
}

/* line 15, ../../scss/utility/font.scss */
.u-fsm {
	font-size: 14px;
}

/* line 19, ../../scss/utility/font.scss */
.u-fsml {
	font-size: 18px;
}

/* line 23, ../../scss/utility/font.scss */
.u-fsl {
	font-size: 24px;
}

/* line 27, ../../scss/utility/font.scss */
.u-fsel {
	font-size: 28px;
}

/* line 31, ../../scss/utility/font.scss */
.u-f_wsnowrap_ofhid {
	white-space: nowrap;
	overflow: hidden;
}

/* line 36, ../../scss/utility/font.scss */
.u-f_wsnowrap_ofxhid {
	white-space: nowrap;
	overflow-x: hidden;
}

/* line 41, ../../scss/utility/font.scss */
.u-f_wsnowrap_ofyhid {
	white-space: nowrap;
	overflow-y: hidden;
}

/* line 46, ../../scss/utility/font.scss */
.u-f_wsnowrap_ofscroll {
	white-space: nowrap;
	overflow: scroll;
}

/* line 51, ../../scss/utility/font.scss */
.u-f_wsnowrap_ofxscroll {
	white-space: nowrap;
	overflow-x: scroll;
}

/* line 56, ../../scss/utility/font.scss */
.u-f_wsnowrap_ofyscroll {
	white-space: nowrap;
	overflow-y: scroll;
}

/**  */
/* line 62, ../../scss/utility/font.scss */
.u-f_wsnom_ofhid {
	white-space: normal;
	overflow: hidden;
}

/* line 67, ../../scss/utility/font.scss */
.u-f_wsnom_ofxhid {
	white-space: normal;
	overflow-x: hidden;
}

/* line 72, ../../scss/utility/font.scss */
.u-f_wsnom_ofyhid {
	white-space: normal;
	overflow-y: hidden;
}

/* line 77, ../../scss/utility/font.scss */
.u-f_wsnom_ofscroll {
	white-space: normal;
	overflow: scroll;
}

/* line 82, ../../scss/utility/font.scss */
.u-f_wsnom_ofxscroll {
	white-space: normal;
	overflow-x: scroll;
}

/* line 87, ../../scss/utility/font.scss */
.u-f_wsnom_ofyscroll {
	white-space: normal;
	overflow-y: scroll;
}