@import "utility/layout.scss";
@import "component/button.scss";
@import "component/input.scss";

/* タイプセレクタは使わない */
html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #111111;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12pt;
  font-weight: 200;
  color: #FFF;
}

/*********************************************************************************/
/* login                                                                        */
/*********************************************************************************/

.p-login_wrapper {
  @include bgImgRock();
  .p-container {
    padding-top: 120px;
    text-align: center;
    .p-title h2 {
      font-size: 4em;
      .p-byline {
        font-size: 2em;
      }
    }
  }
  .p-login_container {
    display: block;
    position: relative;
    width: 350px;
    margin: 50px auto;
    padding: 35px 50px;
    background-color: rgba(82, 82, 86, 0.8);
    border-radius: 10px;

    .p-login_form {
      position: relative;
      margin: 0 auto;
      table {
        margin: 0 auto;
        .p-login_input {
          @include inputLogin(300px, 15px, rgba(221, 221, 221, 1), rgba(0, 0, 51, 1));
        }
        p {
          margin-top: 25px;
          font-size: 9pt;
        }
        .p-login_btn {
          margin: 40px auto 0px;
          @include btnShadow(120px, #FFFFFF, #0099FF, #0066CC);
        }
      }
    }
  }
}