@import "utility/layout.scss";

/* タイプセレクタは使わない */
html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #111111;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 12pt;
  font-weight: 200;
  color: #FFF;
}

/*********************************************************************************/
/* login                                                                        */
/*********************************************************************************/

.p-login_wrapper {
  @include bgImgRock();
  .p-container {
    padding-top: 120px;
    text-align: center;
    .p-title h2 {
      font-size: 4em;
      .p-byline {
        font-size: 2em;
      }
    }
  }
}