
.c-alert_f11 {
  font-size: 18px;
  color: #FF0000;
}

.u-fsmini {
  font-size: 10px;
}

.u-fss {
  font-size: 12px;
}

.u-fsm {
  font-size: 14px;
}

.u-fsml {
  font-size: 18px;
}

.u-fsl {
  font-size: 24px;
}

.u-fsel {
  font-size: 28px;
}

.u-f_wsnowrap_ofhid {
  white-space: nowrap;
  overflow: hidden;
}

.u-f_wsnowrap_ofxhid {
  white-space: nowrap;
  overflow-x: hidden;
}

.u-f_wsnowrap_ofyhid {
  white-space: nowrap;
  overflow-y: hidden;
}

.u-f_wsnowrap_ofscroll {
  white-space: nowrap;
  overflow: scroll;
}

.u-f_wsnowrap_ofxscroll {
  white-space: nowrap;
  overflow-x: scroll;
}

.u-f_wsnowrap_ofyscroll {
  white-space: nowrap;
  overflow-y: scroll;
}

/**  */
.u-f_wsnom_ofhid {
  white-space: normal;
  overflow: hidden;
}

.u-f_wsnom_ofxhid {
  white-space: normal;
  overflow-x: hidden;
}

.u-f_wsnom_ofyhid {
  white-space: normal;
  overflow-y: hidden;
}

.u-f_wsnom_ofscroll {
  white-space: normal;
  overflow: scroll;
}

.u-f_wsnom_ofxscroll {
  white-space: normal;
  overflow-x: scroll;
}

.u-f_wsnom_ofyscroll {
  white-space: normal;
  overflow-y: scroll;
}